<h1>
  Link <code><%= link @link.id, to: Routes.link_path(@conn, :show, @link) %></code>
</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.link_path(@conn, :edit, @link) %></span>
<span><%= link "Back", to: Routes.link_path(@conn, :index) %></span>
