// General background color
$stats-color-bg: $float-white;

// Highlight an area against `$stats-color-bg`
//
// Should make the area stand-out sufficiently while still providing strong
// contrast to foreground elements (`$stats-color-text`, etc.).
//
$stats-color-bg-highlight: $float-mint;

$stats-color-bg-lowlight: $float-mint;

// General text color
$stats-color-text: $float-black;

$stats-color-link: $float-black;
$stats-color-link-hover: $float-mint;
