[submodule "umbrella/apps/cortex_web/assets/vendor/bootstrap"]
	path = apps/cortex_web/assets/vendor/bootstrap
	url = https://github.com/nrser/bootstrap.git
[submodule "umbrella/apps/cortex_web/assets/vendor/jsoneditor"]
	path = apps/cortex_web/assets/vendor/jsoneditor
	url = https://github.com/nrser/jsoneditor.git
[submodule "crawler-user-agents"]
	path = apps/cortex_web/priv/crawler-user-agents
	url = https://github.com/nrser/crawler-user-agents.git
	branch = nrser/stats
[submodule "nansi"]
	path = deploy/collections/ansible_collections/nrser/nansi
	url = https://github.com/nrser/nansi.git
	branch = collection
