@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Archivo+Black&family=Inter:wght@400;700&display=swap');

$inter-regular: 'Inter', sans-serif;
$archivo-black: 'Archivo Black', sans-serif;
$archivo-regular: 'Archivo', sans-serif;
