.header-app-logo, .header-app-name, .navbar-brand {
  font-family: $archivo-black;
  color:$float-black;
  text-transform:uppercase;
}

.header-app-divider {
  padding:0 0.25rem;
  font-family: $archivo-regular;
  margin-top:1px;
}

.header-app-name {
  font-family: $archivo-black;
  padding-right:1.0rem;
  margin-top:1px;
}

.header-toggle {
  cursor:pointer;
  margin-right:10px;
}

.header-toggle:hover {
}

.header-toggle-btn {
  height:15px;
}

.splash-header {
  display:none;
}


body.splash .index-header {
  display:none;
}

body.splash .splash-header {
  display:block;
}

.splash-header a {
  font-size:1.6em;
}

.splash-header .navbar-brand {
  margin-right:0;
}

.splash-product-name {
  display:inline-block;
  margin-top:8px;
}

.splash-product-name .navbar-brand {
  font-family:$archivo-black;
}
