/* This file is for your main application css. */

@import "./colors/index";
@import "./jsoneditor/index";
@import "./bootstrap/index";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

@import "./views/index";

body {
  margin-bottom: 8rem;
}

h1 {
  code {
    a {
      color: $code-color;

      &:hover {
        color: $code-hover-color;
      }
    }
  }
}

.is-nil {
  @extend code;
  @extend .px-2;
  white-space: nowrap;
  color: rgba($code-color, 0.25);
  background-color: $stats-color-bg-lowlight;
  display: inline-block;
  border-radius: $border-radius;
}
