$color-magic-blue: #006EAD;
$color-orange: #EA5B18;
$color-aqua: #0086A2;
$color-power-aqua: #55bcd3;
$color-dolphins: #50ADC5;
$color-pink: #C73475;
$color-pink-pink: #D84389;
$color-dusty-pink: #99536A;
$color-gonzo: #39377E;
$color-himalaya: #8ACADC;
$color-smaragd-green: #005129;
$color-polar-blue: #D8EDED;

$color-milli-gray: #2c2f34;
$color-milli-white: #f2f2f2;

$color-bg: black;
$color-text: $color-polar-blue;
$color-link: $color-power-aqua;
$color-hover: $color-pink-pink;
