$color-magic-blue: #006EAD;
$color-bermuda: #00AFD8;
$color-sky-blue: #008CC7;
$color-orange: #EA5B18;
$color-aqua: #0086A2;
$color-power-aqua: #55bcd3;
$color-dolphins: #50ADC5;
$color-pink: #C73475;
$color-pink-pink: #D84389;
$color-dusty-pink: #99536A;
$color-gonzo: #39377E;
$color-himalaya: #8ACADC;
$color-smaragd-green: #005129;
$color-polar-blue: #D8EDED;
$color-brick: #971C24;
$color-sweet-dream: #8E4D91;
$color-yolk: #F6A000;
$color-malachite: #65B79A;

// $link-color: $color-sky-blue;
// $link-hover-color: $color-bermuda;

// $blue:    $color-magic-blue;
// $indigo:  $color-gonzo;
// $purple:  $color-sweet-dream;
// $pink:    $color-pink;
// $red:     $color-brick;
// $orange:  $color-orange;
// $yellow:  $color-yolk;
// $green:   $color-smaragd-green;
// $teal:    $color-malachite;
// $cyan:    $color-dolphins;

// $alert-color-scale: 0%;
// $alert-border-scale: -50%;
