$mtn-vanilla:           #ffee9b; // Vanilla          
$mtn-easter-yellow:     #ffe363; // Easter Yellow    
$mtn-citrus:            #ffd900; // Citrus           
$mtn-banana:            #eabf00; // Banana           
$mtn-asia:              #e5bf00; // Asia             
$mtn-curry:             #c6a018; // Curry            
$mtn-mustard:           #a98715; // Mustard          
$mtn-everglade:         #7e6430; // Everglade        
$mtn-butta:             #fdf07a; // Butta            
$mtn-brimstone:         #f4e600; // Brimstone        
$mtn-banana-joe:        #ddcf1e; // Banana Joe       
$mtn-pepperoni-mild:    #bbb62f; // Pepperoni Mild   
$mtn-pepperoni-hot:     #8b812f; // Pepperoni Hot    
$mtn-reed:              #625e25; // Reed             
$mtn-nato:              #46432b; // Nato             
$mtn-military-green:    #252a22; // Military Green   
$mtn-pudding:           #ffdd70; // Pudding          
$mtn-yellow-submarine:  #fecc33; // Yellow Submarine 
$mtn-yellow-cab:        #fbb800; // Yellow Cab       
$mtn-yolk:              #f6a000; // Yolk             
$mtn-golden-yellow:     #eb8904; // Golden Yellow    
$mtn-terra:             #c87620; // Terra            
$mtn-mushroom:          #523b1c; // Mushroom         
$mtn-bone:              #f7ead9; // Bone             
$mtn-latte:             #f6e2c9; // Latte            
$mtn-cappucino:         #ecc6a8; // Cappucino        
$mtn-make-up:           #daac92; // Make-Up          
$mtn-toffee:            #cd926e; // Toffee           
$mtn-hot-chocolate:     #885845; // Hot Chocolate    
$mtn-palish-brown:      #6e4e34; // Palish Brown     
$mtn-white-orange:      #fbe9cf; // White Orange     
$mtn-orange-ice:        #fee9d9; // Orange Ice       
$mtn-creme-orange:      #f9c173; // Creme Orange     
$mtn-blast-orange:      #f4a34a; // Blast Orange     
$mtn-scampi:            #f29530; // Scampi           
$mtn-orangina:          #f08217; // Orangina         
$mtn-capri:             #ee7412; // Capri            
$mtn-orange:            #ec6415; // Orange           
$mtn-pure-orange:       #ea5818; // Pure Orange      
$mtn-red-orange:        #e43e1d; // Red Orange       
$mtn-blood-orange:      #dc0824; // Blood Orange     
$mtn-lychee:            #f7bfc1; // Lychee           
$mtn-bazooka-joe:       #ed8798; // Bazooka Joe      
$mtn-strawberry:        #e73c4e; // Strawberry       
$mtn-raspberry:         #d6053e; // Raspberry        
$mtn-ketchup:           #ba1829; // Ketchup          
$mtn-brick:             #971c24; // Brick            
$mtn-royal-red:         #721e23; // Royal Red        
$mtn-purple-red:        #5b181c; // Purple Red       
$mtn-black-red:         #3e1511; // Black Red        
$mtn-vampirella:        #271619; // Vampirella       
$mtn-frozen-strawberry: #f9d2db; // Frozen Strawberry
$mtn-frozen-raspberry:  #efa9c2; // Frozen Raspberry 
$mtn-pink-pink:         #d84389; // Pink Pink        
$mtn-cherry-blossom:    #8e135f; // Cherry Blossom   
$mtn-pale-pink:         #e1c3cc; // Pale Pink        
$mtn-mortadella:        #d1a3ad; // Mortadella       
$mtn-dusty-pink:        #99536a; // Dusty Pink       
$mtn-ancient-pink:      #824150; // Ancient Pink     
$mtn-powder-pink:       #792b3e; // Powder Pink      
$mtn-white-lilac:       #d2c1dd; // White Lilac      
$mtn-light-lilac:       #a999c6; // Light Lilac      
$mtn-teen-spirit:       #7c6eac; // Teen Spirit      
$mtn-lavender:          #55428a; // Lavender         
$mtn-gonzo:             #39377e; // Gonzo            
$mtn-blue-velvet:       #2c3068; // Blue Velvet      
$mtn-welsh:             #172245; // Welsh            
$mtn-cassis:            #10182a; // Cassis           
$mtn-crocus:            #cdb7d5; // Crocus           
$mtn-viola:             #b08ebd; // Viola            
$mtn-sweet-dream:       #8e4d91; // Sweet Dream      
$mtn-valerie:           #6f317f; // Valerie          
$mtn-lakers:            #522158; // Lakers           
$mtn-deep-purple:       #5c3154; // Deep Purple      
$mtn-black-purple:      #321440; // Black Purple     
$mtn-flipper:           #cce8f0; // Flipper          
$mtn-fresh-blue:        #a3d7e8; // Fresh Blue       
$mtn-baby-blue:         #6fc8e6; // Baby Blue        
$mtn-bermuda:           #00afd8; // Bermuda          
$mtn-light-blue:        #00a1d1; // Light Blue       
$mtn-sky-blue:          #008cc7; // Sky Blue         
$mtn-blue-magic:        #006ead; // Blue Magic       
$mtn-signal-blue:       #005089; // Signal Blue      
$mtn-ultramarine:       #003a6f; // Ultramarine      
$mtn-blue-note:         #003457; // Blue Note        
$mtn-nautilus:          #0c2337; // Nautilus         
$mtn-polar-blue:        #d8eded; // Polar Blue       
$mtn-summit:            #b9e0ea; // Summit           
$mtn-himalaya:          #8acadc; // Himalaya         
$mtn-mt-everest:        #60a1b8; // Mt. Everest      
$mtn-mt-fuji:           #477283; // Mt. Fuji         
$mtn-fjord:             #255162; // Fjord            
$mtn-deep-sea:          #0b353f; // Deep Sea         
$mtn-navy:              #062331; // Navy             
$mtn-venom:             #e5eece; // Venom            
$mtn-linden-green:      #c5dda8; // Linden Green     
$mtn-green-apple:       #a3c96d; // Green Apple      
$mtn-lime:              #adc70b; // Lime             
$mtn-lawn-green:        #7eb125; // Lawn Green       
$mtn-greenery:          #008332; // Greenery         
$mtn-fern-green:        #006030; // Fern Green       
$mtn-smaragd-green:     #005129; // Smaragd Green    
$mtn-jungle-green:      #003b24; // Jungle Green     
$mtn-deep-forest:       #00301f; // Deep Forest      
$mtn-liberty:           #eef5e3; // Liberty          
$mtn-malachite-light:   #afd8c1; // Malachite Light  
$mtn-malachite:         #65b79a; // Malachite        
$mtn-malachite-dark:    #3a8469; // Malachite Dark   
$mtn-pine:              #006d58; // Pine             
$mtn-venice:            #e5f1e6; // Venice           
$mtn-can2-cool-candy:   #c1e2e0; // Can2 Cool Candy  
$mtn-pool:              #93d1d9; // Pool             
$mtn-dolphins:          #50adc5; // Dolphins         
$mtn-aqua:              #0086a2; // Aqua             
$mtn-reef:              #006275; // Reef             
$mtn-petrol:            #00363f; // Petrol           
$mtn-pebble:            #f1efea; // Pebble           
$mtn-marble:            #e1e2e2; // Marble           
$mtn-wall:              #c6c7c6; // Wall             
$mtn-iron-curtain:      #acaaa3; // Iron Curtain     
$mtn-roof:              #7c7e7c; // Roof             
$mtn-gravel:            #626969; // Gravel           
$mtn-stealth:           #313c3f; // Stealth          
$mtn-coke:              #0e1514; // Coke             
$mtn-dolomite:          #f2eee7; // Dolomite         
$mtn-ceramic:           #e8e4db; // Ceramic          
$mtn-buzzard:           #d5d3ca; // Buzzard          
$mtn-yosemite:          #dad7c9; // Yosemite         
$mtn-asphalt:           #a09f9a; // Asphalt          
$mtn-meteorite:         #76726b; // Meteorite        
$mtn-basalt:            #55524d; // Basalt           
$mtn-elm:               #f7f0ce; // Elm              
$mtn-sahara-yellow:     #e5d49c; // Sahara Yellow    
$mtn-saraha-beige:      #daba7f; // Saraha Beige     
$mtn-duck-season:       #b29260; // Duck Season      
$mtn-salmon:            #f3a68c; // Salmon           
$mtn-dirty-apricot:     #d78366; // Dirty Apricot    
$mtn-aubergine:         #351e1f; // Aubergine        
$mtn-nougat:            #b77452; // Nougat           
$mtn-orange-brown:      #7d3924; // Orange Brown     
$mtn-rusto-coat:        #912b2f; // Rusto Coat       
$mtn-wine-red:          #3e161b; // Wine Red         
$mtn-cacao:             #54311f; // Cacao            
$mtn-anthracite:        #192120; // Anthracite       
$mtn-concrete:          #353028; // Concrete         
$mtn-lip:               #934d54; // Lip              
$mtn-paris:             #cbb5bf; // Paris            
$mtn-brain:             #d6c4bf; // Brain            
$mtn-flesh:             #d5bfb9; // Flesh            
$mtn-shrimp-pastel:     #f8bdb2; // Shrimp Pastel    
$mtn-shrimp:            #f29c86; // Shrimp           
$mtn-shrimp-dark:       #ef8464; // Shrimp Dark      
$mtn-louie-lilac:       #1e2357; // Louie Lilac      
$mtn-denim-light:       #c9e1f3; // Denim Light      
$mtn-denim:             #99c6e3; // Denim            
$mtn-denim-stonewashed: #6598c6; // Denim Stonewashed
$mtn-poison-pastel:     #eee436; // Poison Pastel    
$mtn-poison-light:      #e4e028; // Poison Light     
$mtn-poison:            #c8d215; // Poison           
$mtn-poison-dark:       #adc70b; // Poison Dark      
$mtn-olive-green:       #494f1f; // Olive Green      
$mtn-manila-light:      #a7a97a; // Manila Light     
$mtn-manila-green:      #838663; // Manila Green     
$mtn-manila-dark:       #46412c; // Manila Dark      
$mtn-sand:              #b89247; // Sand             
$mtn-hazelnut:          #80441e; // Hazelnut         
$mtn-chestnut:          #4e1a1b; // Chestnut         
$mtn-yellow-light:      #ffde09; // Yellow Light     
$mtn-yellow:            #fcbc00; // Yellow           
$mtn-orange-light:      #ef7d0a; // Orange Light     
$mtn-orange:            #ea5b18; // Orange           
$mtn-orange-dark:       #e6301d; // Orange Dark      
$mtn-red:               #cb0d1f; // Red              
$mtn-kent-blood-red:    #af151a; // Kent Blood Red   
$mtn-pink-light:        #e888b2; // Pink Light       
$mtn-pink:              #c73475; // Pink             
$mtn-lilac:             #312c66; // Lilac            
$mtn-blue-light:        #7fc5d3; // Blue Light       
$mtn-blue:              #004d91; // Blue             
$mtn-blue-dark:         #05356c; // Blue Dark        
$mtn-green-light:       #7eb627; // Green Light      
$mtn-green:             #007a37; // Green            
$mtn-green-dark:        #00612f; // Green Dark       
$mtn-brown-light:       #b1592a; // Brown Light      
$mtn-brown:             #5a3121; // Brown            
$mtn-brown-dark:        #312111; // Brown Dark       
$mtn-black:             #0c0c0a; // Black            
$mtn-white:             #ffffff; // White            
$mtn-white-cream:       #f8f5e9; // White Cream      
$mtn-white-pure:        #ffffff; // White Pure       
$mtn-100-yellow:        #ffee00; // 100% Yellow      
$mtn-100-cyan:          #00aec7; // 100% Cyan        
$mtn-100-magenta:       #d00065; // 100% Magenta     
